/* purgecss start ignore */
@import '@fortawesome/fontawesome-svg-core/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


body, html { 
	width: 100%; 
	height: 100%;
}

#__next {
	display: flex;
	flex-grow: 1;
}
/* purgecss end ignore */