@import "@fortawesome/fontawesome-svg-core/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	min-width: 100%;
	min-height: 100%;
	display: flex;
}

#__next {
	display: flex;
	flex-grow: 1;
}
